{% extends 'blog/base_blog.html' %}


{% block title%}
    Blog application - all posts
{% endblock %}

{% block content%}
    <h1 class="mb-10">All posts</h1>
    {% for post in posts %}
        <div class="card mb-4" style="width: 45rem;">
            <div class="card-body">
                <h5 class="card-title">{{ post.post_title}}</h5>
                <p class="card-text">{{ post.post_publish_time }}, id={{ post.id }}, number of comments: {{ post.comment_set.count }}</p>
                <p class="card-text">{{ post.post_text }}</p>
                <a href="{% url 'post_details' post.id %}" class="btn btn-primary">Go to see all comments for this post</a>
            </div>
        </div>

    {% endfor %}
{% endblock %}